button {
    all: unset;
    font-weight: 500;
    color: var(--text-highlight);
    padding: .75rem 1.5rem;
    cursor: pointer;
    border-radius: .5rem;

    &.btn-primary {
        background-color: #e43a12;
        color: #FFFFFF;

        &:hover,
        &:focus {
            background-color: #f3541c;
        }
    }

    &.btn-secondary {
        margin-left: auto; 
        border: 1px solid var(--text-highlight);
        &:hover,
        &:focus {
           color: #e43a12;
           outline: .25rem solid var(--surface-secondary);
        }
    }

}