.dropzone {
    border: 1px var(--stroke-default) dashed;
    border-radius: .25rem;

    display: grid;
    justify-content: center;
    gap: .5rem;

    text-align: center;
    padding: 1.75rem 1rem;

    position: relative;
    & input {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
        inset: 0;
    }

    & svg {
        justify-self: center;
    }

    & p {
        color: #A8A29E;
    }

    &:hover, &:has(input:focus) {
        border-width: 2px;
        border-color: var(--stroke-hightlight);
        background-color: var(--surface-secondary);
        
        & p {
            color: var(--text-tertiary);
        }

        & svg path {
            stroke: var(--stroke-hightlight);
        }
    }
}